# Application endpoints
BASE=
BASE_URL=
BASE_URL_CORD_APP=
BASE_URL_LEGACY=
MIND_MAP_URL=
NOTIFICATION_URL=
SOCKET_URL=
AUTH_GATE_WAY_URL=

# Client integrations
CAPTCHA_SITE_KEY=
SITE_KEY=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
WEB_RTC_SDK_SERVER_URL=
WEB_RTC_TOKEN_SERVER_URL=
EXTERNAL_PRESCRIPTION_CRED=
VAPID_PUBLIC_KEY=

# Feature flags
SHOW_CAPTCHA=true
